<button class="btn btn-primary homebutton">
    <a [routerLink]="['']">Home</a>
</button>
<h3>Details about {{ pet.name }}</h3>
<img src="{{ pet.profileImage }}">

<p>{{ pet.name }} is a {{ pet.type }}</p>
<p>Description: {{ pet.desc }}</p>

<p *ngIf="(pet.skill1)">Skills: {{ pet.skill1 }}</p>
<p *ngIf="(pet.skill2)">Skills: {{ pet.skill2 }}</p>
<p *ngIf="(pet.skill3)">Skills: {{ pet.skill3 }}</p>

<p>Likes: {{ pet.like }}</p>


<button class="btn btn-primary" (click)="likePet(pet)" [disabled]='clicked'>Like this pet</button>

<button class="btn btn-primary" (click)="deletePet(pet)">Adopt this pet!</button>